@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #150a30;
  --secondary-color: #2c0261;
  --tertiary-color: #28b6c6;
  --quaternary-color: #05d9b2;
  --quinary-color: #f2e635;
}

::-webkit-scrollbar {
  width: 10px;
  background: #14b8a6;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
}

.overflow-y-scroll {
  overflow-y: hidden;
}

.background-landing {
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/014/175/864/non_2x/blue-circle-gradient-abstract-background-for-wallpaper-landing-page-or-website-banner-eps-10-editable-vector.jpg"); */
  /* You might want to add additional properties for better styling */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-container {
  min-height: calc(100vh - 64px);
}

.css-dip3t8 {
  background-color: transparent !important;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows {
  -moz-appearance: textfield;
}

.gradient-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, transparent, #812cdc, transparent);
}

.upload-image-container {
  height: 100%;
}

.uploader-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #14b8a6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.uploader-container:hover {
  cursor: pointer;
  background: #39d3c1;
  color: white;
  transition: all 0.3s ease;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-portada {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.imagen-portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-primary {
  width: 100%;
  border-collapse: collapse;
  border-radius: 2px;
  box-shadow: 0px 5px 10px 2px rgba(183, 183, 183, 0.48);
  overflow: hidden;
}

.table-primary thead {
  background: var(--secondary-color);
}

.table-primary thead tr {
  text-align: start;
}

.table-primary tbody tr:nth-child(odd) {
  background-color: #f5f5f5; /* Example background color */
}

.table-primary thead tr td {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 10px 10px 20px;
}

.table-primary tbody tr {
  text-align: center;
}

.table-primary tbody tr td {
  text-align: start;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  text-transform: capitalize;
}
