@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  background: #14b8a6;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
}

.overflow-y-scroll {
  overflow-y: hidden;
}

.background-landing {
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/014/175/864/non_2x/blue-circle-gradient-abstract-background-for-wallpaper-landing-page-or-website-banner-eps-10-editable-vector.jpg"); */
  /* You might want to add additional properties for better styling */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
